#head-title{
    padding-bottom: 1rem;
    margin-bottom: 0;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 3.5rem;
    border-bottom: 5px solid rgb(255 114 35);
    width: 10%;
}

#navigation-description + p {
    font-size: 1rem;
    letter-spacing: .4px;
    line-height: 1.4375rem;
}

.head-title{
    margin-bottom: 50px;
    
}

.navigation-description div> h1,h2,h3{
    font-family: lubalingraphstd, "Century Gothic", Futura, Helvetica;
    font-weight: 600;

    --tw-text-opacity: 1;

    color: rgb(0 0 0 / var(--tw-text-opacity));
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 3.5rem;
    border: 0 solid #e5e7eb;
}
